.header {
    background-color: #3419ec;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 150px;
    height: 80px;

    h1 {
        font-weight: 500;
        font-size: 35px;

    }

    span {
        font-weight: 100;
    }

    &-navbar {

        .menu {
            display: flex;

            li {
                margin: 5px;

                a {
                    padding: 20px 10px;
                }
            }
        }
    }
}